*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:'Poppins',sans-serif;

}


body{

background:

radial-gradient(

circle at 70% 30%,

rgba(52,255,135,0.15),

transparent 30%

),

linear-gradient(

135deg,

#04130b,

#071d12,

#0b1117

);

min-height:100vh;

overflow-x:hidden;
overflow-y: auto;

color:white;

position:relative;

}





.hero{

padding:40px 80px;

}



.navbar{

display:flex;

justify-content:space-between;

align-items:center;

}



.logo{

font-size:28px;

font-weight:700;

}



.nav-btn{

text-decoration:none;

color:white;

padding:12px 25px;

border:1px solid #3cff8f;

border-radius:30px;

transition:.3s;

}



.nav-btn:hover{

background:#3cff8f;

color:black;

}



.hero-content{

display:flex;

align-items:center;

justify-content:space-between;

margin-top:70px;

}



.left{

width:50%;

}



.left h1{

font-size:65px;

line-height:1.1;

margin-bottom:25px;

}



.left p{

font-size:22px;

color:#b9c6c0;

line-height:1.7;

margin-bottom:40px;

}



button{

padding:18px 35px;

border:none;

border-radius:40px;

background:#34ff87;

font-size:18px;

font-weight:600;

cursor:pointer;

transition:.3s;

}



button:hover{

transform:translateY(-5px);

box-shadow:

0 0 30px

#34ff87;

}



.right{

width:45%;

position:relative;

display:flex;

justify-content:center;

align-items:center;

}

.glass-card{

width:380px;

padding:40px;

border-radius:30px;

background:

rgba(255,255,255,0.05);

backdrop-filter:

blur(20px);

border:

1px solid rgba(255,255,255,0.1);

box-shadow:

0 0 40px rgba(52,255,135,0.15);

animation:

floatCard 4s ease-in-out infinite;

}



.glass-card h3{

font-size:24px;

margin-bottom:20px;

}



.glass-card h1{

font-size:80px;

font-weight:700;

}



.glass-card span{

font-size:28px;

color:#34ff87;

}



.green{

margin-top:10px;

color:#34ff87;

font-weight:600;

}



.stats{

display:flex;

justify-content:space-between;

margin-top:40px;

}



.stats div{

text-align:center;

}



.stats h4{

font-size:26px;

margin-top:10px;

}



.stats p{

color:#b9c6c0;

font-size:14px;

}



.badge{

margin-top:35px;

padding:15px;

text-align:center;

border-radius:20px;

background:

rgba(52,255,135,0.15);

color:#34ff87;

font-weight:600;

}



@keyframes floatCard{

0%{

transform:

translateY(0px);

}

50%{

transform:

translateY(-12px);

}

100%{

transform:

translateY(0px);

}

}




.particle{

position:absolute;

border-radius:50%;

background:#4dff88;

box-shadow:

0 0 20px #4dff88;

animation:pulse 2s infinite alternate;

}



.p1{

width:14px;

height:14px;

top:20%;

left:20%;

}



.p2{

width:10px;

height:10px;

top:70%;

right:15%;

animation-delay:1s;

}



.p3{

width:18px;

height:18px;

top:15%;

right:20%;

animation-delay:0.5s;

}







@keyframes pulse{

from{

transform:scale(1);

opacity:0.5;

}

to{

transform:scale(1.5);

opacity:1;

}

}


@keyframes float{

0%{

transform:

translateY(0px);

}

50%{

transform:

translateY(-20px);

}

100%{

transform:

translateY(0px);

}

}
/* DASHBOARD */

.dashboard-container{

display:flex;

min-height:100vh;

}


.sidebar{

width:250px;

background:#071510;

padding:40px 25px;

display:flex;

flex-direction:column;

justify-content:space-between;

}

.sidebar h2{

font-size:30px;

line-height:1.3;

margin-bottom:50px;

}



.sidebar ul{

list-style:none;

}


.sidebar li{

padding:18px 0;

font-size:22px;

cursor:pointer;

color:#d6e8dd;

}


.sidebar li:hover{

color:#34ff87;

}


.sidebar-footer{

color:#89a59a;

font-size:18px;

margin-top:50px;

}



.main-content{

flex:1;

padding:40px;

}



.hero-card{

background:

linear-gradient(

135deg,

#111,

#1a1a1a

);

border-radius:30px;

padding:40px;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:

0 0 30px

rgba(

52,

255,

135,

0.15

);

}


.hero-card h1{

font-size:48px;

margin-bottom:15px;

}


.hero-card h2{

font-size:52px;

color:#34ff87;

margin-top:15px;

}


.green{

color:#34ff87;

font-weight:600;

margin-top:10px;

}


.hero-earth{

font-size:130px;

}



.calculator{

display:grid;

grid-template-columns:

repeat(

2,

1fr

);

gap:25px;

margin-top:40px;

}


.card{

background:

rgba(

255,

255,

255,

0.05

);

padding:30px;

border-radius:25px;

backdrop-filter:

blur(

15px

);

}


.card h3{

margin-bottom:20px;

font-size:28px;

}



.card input,

.card select{

width:100%;

padding:16px;

border:none;

border-radius:15px;

font-size:18px;

margin-top:10px;

}



.calc-btn{

margin-top:35px;

padding:18px 35px;

background:#34ff87;

border:none;

border-radius:40px;

font-size:22px;

font-weight:600;

cursor:pointer;

}
.result-section{

display:grid;

grid-template-columns:

1fr 1fr;

gap:30px;

margin-top:40px;

}



#result-card,

.chart-card{

background:

rgba(

255,

255,

255,

0.05

);

padding:35px;

border-radius:25px;

backdrop-filter:

blur(20px);

}



#result-card h2,

.chart-card h2{

margin-bottom:20px;

}



#carbon-value{

font-size:60px;

color:#34ff87;

margin-top:20px;

}



#eco-score{

margin-top:20px;

}



#green-points{

margin-top:15px;

font-size:20px;

color:#34ff87;

}



#myChart{

max-width:300px;

margin:auto;

}
.extra-section{

display:grid;

grid-template-columns:

1fr 1fr;

gap:30px;

margin-top:40px;

}



#ai-card,

.impact-card{

background:

rgba(

255,

255,

255,

0.05

);

padding:35px;

border-radius:25px;

backdrop-filter:

blur(20px);

}



#ai-card h2,

.impact-card h2{

margin-bottom:20px;

}



#ai-suggestions{

line-height:2;

font-size:18px;

}



.impact-card ul{

padding-left:20px;

}



.impact-card li{

margin-top:15px;

font-size:18px;

}
.extra-section{

display:grid;

grid-template-columns:

1fr 1fr;

gap:30px;

margin-top:40px;

}



#ai-card,

.impact-card{

background:

rgba(

255,

255,

255,

0.05

);

padding:35px;

border-radius:25px;

backdrop-filter:

blur(20px);

}



#ai-card h2,

.impact-card h2{

margin-bottom:20px;

}



#ai-suggestions{

line-height:1.8;

font-size:18px;

}



.impact-card ul{

padding-left:20px;

}



.impact-card li{

margin-top:15px;

}
#badge{

margin-top:20px;

padding:12px;

background:

rgba(52,255,135,0.15);

border-radius:15px;

color:#34ff87;

font-weight:600;

text-align:center;

}